<h1><%= @list.name %></h1>
<div class = "container">
<% @list.bookmarks.each do |bookmark| %>
<h4><%= bookmark.movie.title %></h4>
<%= image_tag(bookmark.movie.poster_url, width: 100) %>
<p><%= bookmark.comment %></p>
<% end %></div>

<p><%= link_to "Back to list", lists_path %></p>
<p><%= link_to "create bookmark", new_list_bookmark_path(@list, @bookmark) %></p>
